
.wrapp {
  background: var(--burger-bg);
}

.basketContainer {
  margin: 0px 15px;
  padding-top: 35px;
  .items {
    height: 100%;
  }

  .totalItems {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    p {
      color: var(--gray-text-first);
      font-weight: 500;
      font-size: 16px;
    }

    h2 {
      font-family: Graphik LCG, sans-serif;
      font-size: 16px;
      line-height: 30px;
      color: var(--gray-text-first);
    }
  }

  .skidka {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;

    p {
      color: var(--gray-text-first);
      font-weight: 500;
      font-size: 16px;
    }

    h2 {
      font-family: Graphik LCG, sans-serif;
      font-size: 20px;
      line-height: 30px;
      color: var(--gray-text-first);
    }
  }

  .toPay {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;

    p {
      color: var(--burger-title-color);
      font-family: "Inter Semi Bold", sans-serif;
      font-size: 19px;
    }

    h2 {
      font-family: "Inter Semi Bold", sans-serif;
      font-size: 19px;
      line-height: 30px;
      color: var(--burger-title-color);
    }
  }
}

.bonusRubles {
  border: 1px solid #EAECF0;
  background-color: var(--repeat-btn-bg);
  padding: 16px;
  border-radius: 12px;
  margin-top: 30px;
  h2 {
    font-family: "Inter Semi Bold";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: var(--modal-color);
  }
  p {
    font-family: "Graphik LCG Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--gray-text-first);
  }
}

.paymentButton {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .activateInfo {
    margin-top: 10px;
    background-color: var(--repeat-btn-bg);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid var(--input-border);
    box-shadow: 0px 1px 2px 0px #1018280D;

    p {
      color: var(--modal-color);
      font-family: "Inter Semi Bold", sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      text-align: left;

    }
  }
}