.products {
  padding: 5px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;

  .btnDiv {
    display: flex;
    margin-top: 20px;
  }

  .white {
    background-color: white;
    color: #344054;
    border: 1px solid #d0d5dd;
    height: 44px;
    width: 189px;
    margin-left: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    //height: 36px;
    letter-spacing: 0.6px;
  }
}

.tableDiv {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
  box-shadow: 0px 1px 2px 0px #1018280d;
  border: 1px solid #eaecf0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  width: 1000px;
  .wrapper {
    height: 90%;
  }
}

.usersTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  thead {
    tr {
      th {
        svg {
          path {
            stroke: #475467;
          }
        }
      }
    }
  }
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    color: #101828;

    p {
      font-family: "Graphik LCG Regular", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      color: #475467;
    }
  }

  th {
    background-color: #f9fafb;
    color: #475467;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
  }

  .status {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }

  .active {
    background-color: #ecfdf3;
    color: #067647 !important;
    border: 1px solid #abefc6 !important;
    padding: 2px 8px;
    border-radius: 12px;
  }

  .inactive {
    background-color: #fffaeb;
    color: #b54708 !important;
    border: 1px solid #fedf89 !important;
    padding: 2px 8px;
    border-radius: 12px;
  }

  .blocked {
    background-color: #fef3f2;
    color: #b42318 !important;
    border: 1px solid #fecdca !important;
    padding: 2px 8px;
    border-radius: 12px;
  }

  .icon {
    margin-right: 25px;
    cursor: pointer;
  }
  thead {
    th {
      height: 44px;
    }
  }
  tbody {
    td {
      height: 72px;
    }
  }
}
.input {
  width: 130px !important;
}
.inputProperty {
  width: 225px !important;
}
