.item {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 100%;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    width: 120px;
    height: 120px;
  }

  .infoWrapper {
    margin-left: 10px;
    h2 {
      font-family: "Inter Semi Bold", sans-serif;
      color: var(--burger-title-color);
      font-weight: 500;
      font-size: 18px;
      line-height: 156%;
    }

    div {
      margin: 7px 0px;
      width: 195px;
      h2 {

      }
      p {
        color: var(--gray-text-first);
        font-size: 14.3px;
        font-family: "Graphik LCG Regular", sans-serif;
        line-height: 20px;
        font-weight: 400;
      }
    }
  }

  .cross {
    // margin-left: 20px; 
    img {
      width: 20px;
      height: 20px;
    }
  }
}