
.productCard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;

  .productCardTop {
    .icon {
      position: absolute;
      right: 10px;
      display: flex;
      flex-direction: column;
      top: 10px;
    }
  }

  .productCardBottom {
    margin-top: 12px;

    .cardTitle {
      margin-bottom: 4px;
    }

    .price {
      color: #0b3f6f;
    }
  }
}
.subcategories {
  background-color: var(--button-color);
  border: 1px solid var(--input-border);
  width: 135px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--default-text);
  text-align: center;
}
.heartFilled {
  path {
    fill: red
  }
}
.container {
  margin: 0 auto;
}
.productsContainer {
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: repeat(2, 165px);
  gap: 15px;
}

.wrappLeft {
  margin-bottom: 10px;
}

.titleCategory {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.backHome {
  height: 36px;
  width: 36px;
  padding: 7px;
  border-radius: 7px;
  border: 1px solid #D0D5DD;
}