.wrapper {
  padding: 30px;
  width: 100%;

  .userHeader {
    display: flex;
    height: 40px;
    align-items: center;
    margin-top: 30px;

    .username {
      font-size: 30px;
      font-weight: 500;
      line-height: 38px;
      text-align: left;
      color: #101828;
    }

    .btns {
      margin-left: 40px;
      display: flex;
      gap: 20px;

      .blockBtn {
        display: flex;
        align-items: center;
        background-color: white;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: #475467;
        height: 40px;

        p {
          margin-left: 5px;
        }
      }

      .editBtn {
        height: 40px;
        color: #344054;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        background-color: white;
        border: 1px solid #D0D5DD;
        box-shadow: 0px 1px 2px 0px #1018280D;
        border-radius: 8px;
        padding: 10px 14px;
      }
    }
  }
}

.statsContainer {
  display: flex;
  gap: 35px;
  align-items: center;
  margin-top: 40px;
}

.statItem {
  text-align: left;
  color: #2c3e50;

  h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #475467;
    font-weight: normal;
    margin-bottom: 10px;
  }

  p {
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    margin: 0;
    color: #101828;
  }
}

.ordersTable {
  width: 100%;
  overflow-y: visible;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.lastOrders {
  margin-top: 30px;
  width: 50%;
  border-radius: 12px;
  border: 1px solid #EAECF0;
  box-shadow: 0px 1px 2px 0px #1018280D;
}
.orderHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.scrollContainer {
  height: 468px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.tbody {
  max-height: 400px;
}

.id {
  font-family: Graphik LCG !important;
  font-size: 14px !important;
  text-align: center;
  line-height: 20px !important;
  color: #101828 !important;
}

.ordersTable th,
.ordersTable td {
  height: 45px;
  font-family: "Graphik LCG Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 12px;
  color: #475467;
  border-bottom: 1px solid #dee2e6;
}

.ordersTable th {
  text-align: center;
  font-size: 14px;
  font-family: "Graphik LCG SemiBold", sans-serif;
  font-weight: 500;
  line-height: 18px;
  color: #475467;
  background-color: #f1f3f5;
}

.status {
  font-weight: bold;
  border-radius: 8px;
  padding: 5px 10px;

  .wrapperPaid {
    width: 100%;
    display: flex;
    justify-content: center;

    .refunded {
      display: flex;
      align-items: center;
      justify-content: center;
      //background-color: #F9FAFB;
      width: 85px;
      height: 20px;
      border-radius: 15px;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      text-align: center;
      color: #344054;
      border: 1px solid #EAECF0;

      p {
        margin-left: 4px;
      }
    }

    .paid {
      background-color: #ECFDF3;
      width: 53px;
      height: 20px;
      border-radius: 15px;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      text-align: center;
      color: #067647;
      border: 1px solid #ABEFC6;
    }
  }


}

.actions {
  display: flex;
  gap: 10px;

  div {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
  }

  .info,
  .edit {
    cursor: pointer;
    font-size: 16px;

    &:hover {
      color: #007bff;
    }

    &.info:hover {
      color: #17a2b8;
    }
  }
}