.historyWrapp {
    background-color: var(--border);
}

.wrapperOfHistory {
    margin-top: 26px;
    margin-left: 15px;
    width: 92%;

    .historyTitle {
        h2 {
            font-size: 19px;
            font-weight: 500;
            line-height: 28px;
            text-align: left;
            color: var(--burger-title-color);
        }
        p {
            margin-top: 2px;
            font-family: Graphik LCG Regular, "sans-serif";
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: var(--gray-text-first)
        }
        padding-bottom: 6px;
        border-bottom: 1px solid var(--input-border);
    }
    .orderItems {
        margin-top: 40px;
        .orderWrapper {
            background-color: var(--background-color);
            margin-top: 15px;
            border-radius: 12px 12px 0 0;
            .orderTitle {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 12px 20px 12px 16px;
                gap: 12px;
                border-bottom: 1px solid var(--border-burger);
                div {
                    display: flex;
                    align-items: center;
                    h2 {
                        margin-left: 10px;
                        font-family: "Graphik LCG", sans-serif;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: left;
                        color: var(--modal-color);
                    }
                }
                .statusDivBought {
                    border: 1px solid var(--border-burger);
                    background-color: var(--block-bg);
                    padding: 2px 8px 2px 8px;
                    border-radius: 20px;
                    p {
                        color: var(--modal-color);
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 18px;
                        text-align: center;
                    }
                }
                .statusDivCancel {
                    padding: 2px 8px 2px 8px;
                    border-radius: 20px;
                    border: 1px solid var(--border-bg);
                    background-color: var(--cancel-bg);
                    p {
                        color: var(--cancel-color);
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 18px;
                        text-align: center;

                    }
                }
            }

            .bottomSide {
                padding: 12px;

                .repeatOrder {
                    background-color: var(--repeat-btn-bg);
                    color: var(--button-color-balance);
                    width: 100%;
                    height: 40px;
                    border: 1px solid var(--button-border);
                    border-radius: 8px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    margin-bottom: 10px;
                }

                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    p {
                        //styleName: Text sm/Regular;
                        font-family: "Graphik LCG Regular", sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: var(--modal-color);
                        line-height: 20px;
                        text-align: left;
                    }
                    h2 {
                        font-family: "Graphik LCG SemiBold", sans-serif;
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 38px;
                        color: var(--modal-color);
                        text-align: left;

                    }
                }
                .btnDiv {
                    display: flex;
                    flex-direction: column;
                    margin-top: 13px;
                    width: 100%;
                }
            }
        }
    }

}