.headerTop {
  display: flex;

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 18px 15px;
    width: 100vw;
  }
}

.searchBody {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid var(--input-border);
  width: 85%;

  .searchInput {
    background-color: transparent;
    font-weight: 400;
    font-family: "Graphik LCG Regular", sans-serif;
    color: #667085;
    font-size: 16px;
    width: 100%;
    line-height: 24px;
  }
}

.label {
  svg {
    path {
      fill: #667085
    }
  }
}