.header {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 80px;
  z-index: 10;
  display: flex;
  padding: 0 20px;
  background-color: var(--background-color);
  border: 1px solid var(--input-border);
  justify-content: space-between;
  .item {
    user-select: none;
    cursor: pointer;
    margin-top: 10px;
    width: 56px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #98A2B3;
    font-size: 12px;
    font-weight: 400;
    svg {
      width: 20px;
      height: auto;
      margin-bottom: 5px;

      path {
        stroke: var(--gray-text-second);
      }
    }
  }
}
.active {
  color: #0070CC !important;
  svg {
    path {
      stroke: #0070CC !important;
    }
  }
}
