.NotFind {
  //position: fixed;
  //top: 0;
  //left: 0;
  //width: 100%;
  //height: 100%;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //background-color: rgba(0,0,0,0.32);
  //z-index: 99;
  //backdrop-filter: blur(16px);
  //opacity: 0;
  //transition: .3s;
  //pointer-events: none;
  .modal-win__popup {
    display: flex;
    flex-direction: column;

  }
  .type {
    width: 100%;
    margin-bottom: 25px;
    .items {
      display: flex;
      width: 100%;
      border: 1px solid var(--border-burger);
      height: 50px;
      justify-content: space-between;
      border-radius: 10px;
      background: transparent;
      padding: 5px;
      .active {
        background-color: var(--button-color);
        color: var(--default-text);
      }
      div {
        cursor: pointer;
        font-size: 14px;
        color: var(--gray-text-second);
        width: 49.4%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        box-shadow: 0px 1px 3px 0px #1018281A;

      }
    }
  }
  .BlueBtn {
    background-color: rgb(0, 112, 204);
    color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    height: 36px;
    letter-spacing: 0.8px;
  }
  .topup-balance {
    position: relative;
    margin-top: 21px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 20px 0 12px;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 111%;
      background: #eaecf0;
      height: 1px;
      left: -5.5%;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 111%;
      background: #eaecf0;
      height: 1px;
      left: -5.5%;
    }
  }
  .input {
    width: 100%;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }
  .title {
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 16px;
    margin-bottom: 8px;
  }
  input {
    width: 100% !important;
    padding: 10px !important;
    font-size: 16px;
    font-weight: 500 !important;
    margin-bottom: 10px;
  }
  .telDiv {
    display: flex;
    div {
      width: 42px;
      height: 38px;
      border: 1px solid var(--border-burger);
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: none;
      border-radius: 6px 0px 0px 6px !important;

    }
  }
  .tel {
    border-radius: 0px 6px 6px 0px !important;
  }
  .BlueBtn {
    background-color: rgb(0, 112, 204);
    color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    height: 36px;
    letter-spacing: 0.8px;
    margin-top: 15px;
    width: 100% !important;
  }
  textarea {
    height: 150px !important;
    width: 100% !important;
    resize: none;
    font-weight: 500 !important;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .promo__popup {
    transform: scale(0.7);
    transition: .3s;
    width: 94%;
    & .modal-win__popup {

      &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-body {
        .input {
          width: 100%;
          position: relative;
          //padding: 10px;
          display: flex;
          flex-direction: column;
          //margin-bottom: 24px;
          .error-decor {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-120%);
          }
        }
        & .promo {
          &-title {
            margin-top: 12px;
            font-size: 900px;
            margin-bottom: 12px;
          }
        }
        padding: 20px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .activeCont {
    transform: scale(1) !important;
  }
  .active {
    opacity: 1 !important;
    pointer-events: all !important;
  }
  .modal-win__popup {
    background-color: var(--background-color);
    border-radius: 12px;
  }

  .modal-win__popup-body {
    padding: 20px;
    .confirm{
      margin-bottom: 27px;
      display: flex;
      justify-content: space-between;
    }
  }


  .modal-win__popup-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rounded-border {
    border-radius: 8px;
    font-weight: 700;
    text-transform: none;
  }

  .title.promo-title {
    margin-bottom: 0;
    margin-top: 15px;
  }

  .input {
  }

  .input input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--border-burger);
    width: 100%;
    font-size: 15px;
    font-weight: 450;
  }

  .blue-btn {
    background-color: #0070CC;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
  }

  .blue-btn:disabled {
    background-color: gray;
    cursor: not-allowed;
  }

  .error-decor {
    margin-top: 10px;
  }
  .rounded-border {
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid var(--border-burger);
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    //font-size: 16px;
    //font-weight: 400;
  }


}