.fastMoves {
  margin-left: 290px;
  width: 100%;
  .title {
    padding-bottom: 10px;
    width: 98.3%;
    border-bottom: 1px solid #EAECF0;
    color: #101828;
    font-family: "Graphik LCG SemiBold", sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
  }

  .items {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    .item {
      cursor: pointer;
      display: flex;
      width: 49%;
      border-radius: 12px;
      padding: 20px;
      border: 1px solid #EAECF0;
      align-items: center;
      box-shadow: 0px 1px 2px 0px #1018280D;
      .icon {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0px 1px 2px 0px #1018280D;
        border: 1px solid #EAECF0;
      }
      .users {
        margin-left: 10px;
        h2 {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          color: #344054;
        }
        p {
          font-family: "Graphik LCG Regular", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          text-align: left;

        }
      }
    }
  }
}

@media (max-width: 1668px) {
  .fastMoves {
    margin-left: 200px !important;
  }
}

@media (max-width: 1500px) {
  .fastMoves {
    margin-left: 150px !important;
  }
}

@media (max-width: 1450px) {
  .fastMoves {
    margin-left: 100px !important;
  }
}
@media (max-width: 500px) {
  .fastMoves {
    margin-left: 0px !important;
    .items {
      flex-direction: column;
    }
  }
}