.ant-select-single {
  width: 100%;
  display: flex;
  align-items: center;
}
.ant-select-selection-item {
  display: flex;
  align-items: center;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  top: -3px !important;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  height: 45px;
}