
.users {
  padding: 30px;
  width: 100%;

  .backTick {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .title {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    text-align: left;
    color: #101828;
  }

  .listOfUsers {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 50px;

    div {
      p {
        color: #475467;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
      }

      h2 {
        color: #101828;
        font-size: 30px;
        font-weight: 600;
        line-height: 38px;
        text-align: left;

      }
    }
  }
}

.container {
  max-width: 1200px;
  //margin: 0 auto;
  border: 1px solid #EAECF0;
  box-shadow: 0px 1px 2px 0px #1018280D;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  height: 650px;
  overflow-y: auto;
  &::-webkit-scrollbar { width: 0; }
  .topWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      text-align: left;
      color: #101828;
    }
  }
}

.searchBar {
  margin-bottom: 20px;

  input {
    font-family: "Graphik LCG Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #667085;
    width: 100%;
    padding: 8px 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 2px 0px #1018280D;
    border-radius: 5px;
  }
}

.usersTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    color: #101828;

    p {
      font-family: "Graphik LCG Regular", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      color: #475467;
    }
  }

  th {
    background-color: #F9FAFB;
    color: #475467;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
  }

  .status {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }

  .active {
    background-color: #ECFDF3;
    color: #067647 !important;
    border: 1px solid #ABEFC6 !important;
    padding: 2px 8px;
    border-radius: 12px;
  }

  .inactive {
    background-color: #FFFAEB;
    color: #B54708 !important;
    border: 1px solid #FEDF89 !important;
    padding: 2px 8px;
    border-radius: 12px;
  }

  .blocked {
    background-color: #FEF3F2;
    color: #B42318 !important;
    border: 1px solid #FECDCA !important;
    padding: 2px 8px;
    border-radius: 12px;
  }

  .icon {
    margin-right: 10px;
    cursor: pointer;
  }
  tbody {

  }
}
