.bgModal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  z-index: 10;
  align-items: center;
  background-color: rgba(12, 17, 29, 0.7);
}