
// -----light

//bgs and other stuff
$bg-light-color: white;
$default-border: #F2F4F7;
$input-border: #D0D5DD;
$block-bg-color: #F9FAFB;
$header-btn: white;
$select-bg: #F9FAFB;
$burger-color: #F2F4F7;
$border-burger: #EAECF0;
$green-bg-color: #ECFDF3; //
$sale-bg-color: #EFF8FF;
$cancel-bg: #FEF3F2;
$border-bg: #FECDCA;
$cancel-color: #B42318;

//button
$button-color: white;
$button-text: #98A2B3;
$button-border-2: rgb(1, 87, 163);
$button-border-3: #7CC5FD;
$button-color-balance: #0157A3;

//text
$default-text: #344054;
$secondary-text: #0B3F6F;
$low-text: #667085;
$pending-bg: #FFFAEB;
$pending-border: #FEDF89;
$pending-color: #B54708;
$gray-text-first: #475467;
$gray-text-second: #98A2B3;
$header-red-color: #D92D20;
$secondary-text-700: #344054;
$green-color: #067647; //
$green-border: #ABEFC6; //
$color-burger-title: #101828;
$hr-color: #D0D5DD;
$blue-text: #0157A3;
$delete-btn: #D92D20;

// -----dark

//bgs and other stuff
$dark-bg-black-color: #0C111D;
$dark-default-border: #1F242F;
$dark-input-border: #333741;
$dark-block-bg-color: #161B26;
$dark-burger-color: #1F242F;
$dark-border-burger: #1F242F;
$dark-green-bg: #053321;
$dark-select-bg: #1F242F;
$dark-sale-bg-color: #102A56;
$dark-cancel-bg: #55160C;
$dark-border-bg: #912018;
$dark-cancel-color: #FDA29B;
$dark-hr-color: #61646C;
$dark-pending-bg: #4E1D09;
$dark-delete-btn: #F97066;
$dark-pending-border: #93370D;
$dark-pending-color: #FEC84B;
//button
$dark-button-color: #161B26;
$dark-button-text: #CECFD2;
$dark-button-border-2: #333741;
$dark-header-btn: #161B26;
$dark-button-border-3: #333741;
$dark-button-color-balance: #CECFD2;

//text
$dark-default-text: white;
$dark-secondary-text: #F5F5F6;
$dark-low-text: #85888E;
$dark-gray-text-first: #94969C;
$dark-gray-text-second: #85888E;
$dark-header-red-color: #F04438;
$dark-secondary-text-700: #CECFD2;
$dark-green-color: #75E0A7;
$dark-green-border: #085D3A;
$dark-color-burger-title: #F5F5F6;
$dark-blue-text: #CECFD2;