.sidebar {
  padding: 15px;
  width: 280px;
  border-right: 1px solid #EAECF0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    width: 38px;
    height: 38px;
  }
  .items {
    margin-top: 30px;
    .item {
      margin-top: 10px;
      display: flex;
      align-items: center;
      width: 248px;
      height: 40px;
      padding: 8px 12px;
      border-radius: 6px;
      background: #F9FAFB;

      img {
        width: 24px;
        height: 24px;
      }
      h2 {
        font-family: "Graphik LCG SemiBold", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        margin-left: 10px;
        color: #182230;
      }
    }
    .itemNotActive {
      margin-top: 10px;
      display: flex;
      align-items: center;
      width: 248px;
      height: 40px;
      transition: .2s;
      cursor: pointer;
      padding: 8px 12px;
      border-radius: 6px;
      background: #FFFFFF;

      img {
        width: 24px;
        height: 24px;
      }
      h2 {
        font-family: "Graphik LCG SemiBold", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        margin-left: 10px;
      }
    }
  }
}
.settings {
  .itemSettings {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #EAECF0;
    img {
      height: 24px;
      width: 24px;
      user-select: none;
    }
    p {
      margin-left: 8px;
    }
  }

  .admin {
    display: flex;
    margin-top: 25px;
    align-items: center;
    .circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F2F4F7;
      img {
        height: 24px;
        width: 24px;
        user-select: none;
      }
    }
    .info {
      margin-left: 10px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      div {
        h2 {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          text-align: left;
          color: #344054;
        }
        p {
          font-family: "Inter", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          text-align: left;
        }
      }
      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
}
.activeItem {
  background-color: #e9e9e9 !important; // Темный фон
  // color: #fff; // Белый текст, чтобы выделить
}