.wrapper {
  h2 {
    color: #101828;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
  }
  p {
    font-family: Graphik LCG Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .inputsWrapper {
    margin-top: 10px;
    p {
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 500;
      color: #344054;

    }
    input {
      width: 100%;
      border: 1px solid #d0d5dd;
      padding: 10px;
      border-radius: 8px;
      color: #667085;
      height: 40px;
      font-family: Graphik LCG Regular, sans-serif;
      font-weight: 500 !important;
      font-size: 16px;
      margin-top: 2px !important;
    }
  }
  .btns {
    display: flex;
    width: 100%;
    margin-top: 25px;
    gap: 20px;
    .white {
      font-size: 16px;
      border-radius: 8px;
      background-color: white;
      border: 1px solid #D0D5DD;
      color: #344054;
      font-weight: 600;
      width: 50%;
      height: 44px;
    }
    div {
      width: 50%;
    }
  }
}
.error {
  color: red !important;
}
